
.cabecalho_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #06152A;
    color: #fff; 
    display: flex;
    justify-content: space-between;

}
  
.nomeapp h1 {
    margin: 0.1; 
}
  
.paginas_cabecalho {
    display: flex;
    align-items: center;
}
  

  
nav ul li {
    display: inline; 
    margin-right: 20px; 
}
  
nav ul li a {
    color: #fff; 
    text-decoration: none;
}


  
